body {
  background: #94b5c0;
}

.table {
  background: #f0f0f0;
  width: 100%;
  color: #212529;
}

.table th:first-child,
.table td:first-child {
  position: sticky;
  left: 0;
  background-color: #f0f0f0;
  color: #373737;
}

.table td {
  white-space: nowrap;
}
.table tbody th {
  white-space: nowrap;
}
.hiddenRow {
    padding: 0 !important;
}
